* {
  box-sizing: border-box;
}

#refresh {
  border: 1px solid black;
  border-radius: 1rem;
  color: pink;
  padding: 1rem;
  background-color: darkblue;
}

#all-boxes {
  display: flex;
}

.box {
  border: 1px solid black;
  border-radius: 1rem;
  max-width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box .name {
  opacity: 0.5;
  font-size: 1rem;
}
.box h3 {
  margin: 0;
  font-size: 2rem;
}
