* {
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  color: white;
}

time[data-ts] span {
  font-weight: bold;
}

#refresh,
#autorefresh {
  border: 1px solid white;
  border-radius: 1rem;
  color: pink;
  padding: 1rem;
  margin: 0;
  background-color: darkblue;
  text-decoration: none;
  color: white;
  display: inline-block;
  cursor: pointer;
}
#autorefresh.pressed {
  background-color: darkgoldenrod;
}

#all-boxes {
  display: flex;
}

.box {
  border: 1px solid white;
  border-radius: 1rem;
  max-width: 20rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box .name {
  opacity: 0.5;
  font-size: 1rem;
  margin-bottom: -1rem;
}
.box h3 {
  margin: 0;
  margin-left: 1rem;
  font-size: 2rem;
}
